<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>touch down bell</title>
    
    
</head>
<body>
    <h1>Touch Down bell</h1>
    
    <div>
        <span>Your Nickname</span>
        <span><ul id="nick"></ul></span>
        <form id = "nickForm">
            <input placeholder="nickname", required, type="text">
            <button type="submit">수정</button>
        </form>
        
    </div>
    <div class="roomList">
        <h3>roomList</h3>
        <ul id="rooms"></ul>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../public/js/app.js"></script>
</body>
</html>